[submodule "forrrest-common"]
	path = forrrest-common
	url = https://github.com/BeomKyu/forrrest-common.git
[submodule "forrrest-authservice"]
	path = forrrest-authservice
	url = https://github.com/BeomKyu/forrrest-authservice.git
[submodule "forrrest-userservice"]
	path = forrrest-userservice
	url = https://github.com/BeomKyu/forrrest-userservice.git
[submodule "forrrest-appmanagementservice"]
	path = forrrest-appmanagementservice
	url = https://github.com/BeomKyu/forrrest-appmanagementservice.git
[submodule "forrrest-apigateway"]
	path = forrrest-apigateway
	url = https://github.com/BeomKyu/forrrest-apigateway.git
[submodule "forrrest-chatservice"]
	path = forrrest-chatservice
	url = https://github.com/BeomKyu/forrrest-chatservice.git
[submodule "forrrest-friendservice"]
	path = forrrest-friendservice
	url = https://github.com/BeomKyu/forrrest-friendservice.git
